.cover-title {
    text-align: center;
    margin: 31px;
    color: white;
    padding: 135px 0;
    text-shadow: 1.1px 1.3px rgb(14, 13, 13);
    font-size: 42px;
}

.box-button {
    margin-left: 181px;
    box-shadow: 1.5px 1.5px black;
}

.cover {
    height: 300px;
    min-height: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.alenia {
    padding-bottom: 55px;
}

.paragraph {
    font-style: italic;
    text-align: right;
    font-size: 15px;
    color: darkgray;
}